<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.beaver" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".PageConnexion"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PageInscription"
            android:label="@string/title_activity_page_inscription" >
        </activity>
        <activity
            android:name=".pageCreationEvent"
            android:label="@string/title_activity_page_creation_event" >
        </activity>
        <activity
            android:name=".PageAccueil"
            android:label="@string/title_activity_page_accueil" >
        </activity>
        <activity
            android:name=".PageEvenement"
            android:label="@string/title_activity_page_evenement" >
        </activity>
        <activity
            android:name=".PageDette"
            android:label="@string/title_activity_page_dette" >
        </activity>
        <activity
            android:name=".PageAjoutParticipant"
            android:label="@string/title_activity_page_ajout_participant" >
        </activity>
        <activity
            android:name=".PageRemboursement"
            android:label="@string/title_activity_page_remboursement" >
        </activity>
    </application>

</manifest>
